*.pyc
*.[oa]
*.l[oa]
*.so
*~
cmake_install.cmake
CMakeFiles
Makefile

# Mac/Xcode junk
DerivedData
Payload
platforms/apple/build
platforms/apple/config.h
platforms/apple/ios/lib
.DS_Store
xcuserdata
*.pbxuser

/config.h
/gemrb/gemrb
/cmake_uninstall.cmake
/CMakeCache.txt
/build

#MSVC generates these
/.vs
/CMakeSettings.json
/out

.vscode

**/gemrb_path.txt
**/gemrb_console.txt
**/GemRB.log
build_debug/

#clangd cache dir
.cache
