*.pyc
*.[oa]
*~
*.l[oa]
*.swp
Makefile
Makefile.in
.deps
.libs
.dirstamp
*.patch
*.orig
*.rej
*.diff

/aclocal.m4
/admin/config.guess
/admin/config.sub
/admin/depcomp
/admin/install-sh
/admin/ltmain.sh
/admin/missing
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/gemrb.spec
/gemrb/gemrb
/libtool
/stamp-h1
