*.pyc
*.[oa]
*.l[oa]
*.so
*~
cmake_install.cmake
CMakeFiles
Makefile

# Mac/Xcode junk
DerivedData
Payload
apple/build
apple/config.h
apple/ios/lib
.DS_Store
xcuserdata
*.pbxuser

/config.h
/gemrb/gemrb
/cmake_uninstall.cmake
/CMakeCache.txt
/build

#MSVC generates these
/.vs
/CMakeSettings.json
/out

.vscode

**/gemrb_path.txt
**/GemRB.log
