Jaka Kranjc <lynxlupodian@users.sourceforge.net> <lynxlynxlynx@sourcemage.org>
Edheldil <edheldil@users.sourceforge.net> Jarda Benkovsky <benkovsk@totoro.(none)>
Avenger <avenger_teambg@sourceforge.net> unknown <Laci@.(none)>
