Jaka Kranjc <lynxlupodian@users.sourceforge.net> <lynxlynxlynx@sourcemage.org>
Edheldil <edheldil@users.sourceforge.net> Jarda Benkovsky <benkovsk@totoro.(none)>
Avenger <avenger_teambg@users.sourceforge.net> unknown <Laci@.(none)>
Thomas Gull <tgull1@dmail.dixie.edu> Tommy Gunn <olathuss@users.sourceforge.net>
Brad Allred <bradallred@me.com> Brad <brad@new-mbp.local>
<avenger_teambg@users.sourceforge.net> <avenger_teambg@sourceforge.net>
