[Desktop Entry]
Version=1.0
Name=GemRB
GenericName=Game engine made with preRendered Background
Comment=a portable opensource implementation of Bioware's Infinity Engine
Type=Application
Icon=gemrb
Terminal=true
Exec=gemrb
Categories=Game;RolePlaying;Emulator;
Keywords=roleplay;rpg;adventure;game;2d;isometric;gemrb;infinity engine;black isle;
