###############################################################################
#  This is the GemRB Configuration file. Lines starting with # are ignored    #
###############################################################################

###############################################################################
#  Game Path [String]                                                         #
#                                                                             #
#  Full path to the directory where the game you want to play is installed.   #
#                                                                             #
###############################################################################

GamePath=../gemrb/tests/minimal

###############################################################################
#                                                                             #
#  Game Type [String]. Use one of the following:                              #
#                                                                             #
#  auto      Attempt to autodetect game type                                  #
#                                                                             #
#  bg1       Baldur's Gate                                                    #
#  bg2       Baldur's Gate 2 : SoA or ToB                                     #
#  bg2ee     Baldur's Gate 2 : EE (experimental!)                             #
#  how       Icewind Dale : HoW or ToTL                                       #
#  (iwd)     Icewind Dale (no How or ToTL installed)                          #
#  iwd2      Icewind Dale 2                                                   #
#  pst       Planescape Torment                                               #
#                                                                             #
#  demo      GemRB demo                                                       #
#  test      Minimal test mode                                                #
#                                                                             #
###############################################################################

GameType=test

# Encoding [default|japanese|korean|chinese] Language used by game data.
# Encoding=default

###############################################################################
#  Video Parameters                                                           #
###############################################################################
# Resolutions supported by the original games are:
#   * 640x480 (except in iwd2)
#   * 800x600 (bg2, iwd:how, iwd2)
#   * 1024x768 (bg2, iwd:how, iwd2)
#   * 1280x960 (bg2, iwd:how, iwd2)
# You can use others as well!

# Screen width
Width=640

# Screen height
Height=480

# Bits per pixel [Integer:16,32]
Bpp=32

# Choices: best (default), linear, nearest
#ScaleQuality = best

# Cap FPS, 0 = request VSync (SDL2 only, default), -1 = no limit, 30+ = cap value
#CapFPS=0

# Use sprited fog of war [Boolean]
# For nostalgia. By default it looks more like accelerated FoW in BG2.
#SpriteFogOfWar=1

###############################################################################
#  Audio Parameters                                                           #
###############################################################################

# Choices: openal (default), sdlaudio (faster, but limited featureset), none
#AudioDriver = openal

###############################################################################
#  GUI Parameters                                                             #
###############################################################################
#                                                                             #
#  GemRB may enhance the GUI of the original games creating functionally new  #
#  buttons or scrollbars, QoL improvements and more. Note that this may       #
#  conflict with mods changing graphics and alignment in the CHU files.       #
#                                                                             #
###############################################################################

# Enable all gui enhancements ? [Integer]
GUIEnhancements = 23

# Enable bigger parties (up to 10) or force smaller ones [Integer]
# NOTE: You need to choose a big enough resolution, so
#   there will be enough room for all the party portraits.
#   THE GAME WILL CRASH OTHERWISE!
# Requires 10pp mod: https://github.com/lynxlynxlynx/gemrb-mods
#MaxPartySize = 6

# Enable or disable (0) logging
#Logging = 1

# Color setting for the console log. -1 = auto, 0 = none, 1 = basic, 2 = truecolor
#LogColor = -1

# Title for GemRB window, use anything you wish, e.g. Baldur's Gate 3: RotFL
# Defaults to GemRB: <actual game name>
#GameName=Baldur's Gate 2

###############################################################################
#  Debug                                                                      #
###############################################################################

# Do not play intro videos [Boolean], useful for development
#SkipIntroVideos=1

# Draw Frames per Second info [Boolean]
#DrawFPS=1

# Show unexplored parts of a map
#GCDebug=1536

# Enable debug and cheat keystrokes, see docs/en/CheatKeys.txt for full listing
#EnableCheatKeys=1

# Developer debug mode toggle (see DebugMode enum)
#DebugMode=0

###############################################################################
#  Input Parameters                                                           #
###############################################################################

# Whether or not to use software keyboard on devices that support one
#UseSoftKeyboard=1

# Adds a gutter around the screen for scrolling
#TouchScrollAreas=1

###############################################################################
#  MouseFeedback                                                              #
#  Bitfield with reserved bits for disabling the mouse.                       #
#                                                                             #
#  Show mouse+tooltips = 0                                                    #
#  Hide mouse          = 1                                                    #
#  Hide tooltips       = 2                                                    #
#  Hide mouse+tooltips = 3                                                    #
###############################################################################

# For a strictly touchscreen device we recommend changing this to 3
#MouseFeedback=0

# Force enable touch input (in case autodetection fails or for hybrids)
#TouchInput=1

###############################################################################
#  Touch Gesture Input Parameters                                             #
#  All "NumFing" settings must be > 1 and < 5                                 #
#  NumFingScroll and NumFingKboard cannot be equal                            #
###############################################################################

#NumFingScroll=2

#NumFingKboard=3

#NumFingInfo=2

# Pointer speed with thumbstick
#GamepadPointerSpeed=10

# Vita specific options
VitaKeepAspectRatio=1

###############################################################################
#  Paths                                                                      #
###############################################################################

# Only set these if the folders are not in your GamePath
# Really, never needed on full and GOG installs
#CD1=/mnt/windows/Programmi/Black Isle/BGII - SoA/
#CD2=/mnt/windows/Programmi/Black Isle/BGII - SoA/CD2/
#CD3=/mnt/windows/Programmi/Black Isle/BGII - SoA/CD3/
#CD4=/mnt/windows/Programmi/Black Isle/BGII - SoA/CD4/
#CD5=/mnt/windows/Programmi/Black Isle/BGII - SoA/CD5/

###############################################################################
#  GemRB Path [String]                                                        #
#                                                                             #
#  The path where GemRB is stored, just enter the full path to the executable #
###############################################################################

GemRBPath=../gemrb

###############################################################################
#  GemRB Plugins Path [String]                                                #
#                                                                             #
#  This is the path containing GemRB plugins - shared libraries (.so) on      #
#  Unixes, or DLLs (.dll) on windows. Enter the full path to the directory.   #
#                                                                             #
#  You may need to specify this path if running GemRB without installing it.  #
###############################################################################

PluginsPath=./gemrb/plugins/

# This is the path where GemRB will store cached files, enter the full path.
CachePath=./gemrb/Cache2/

# The path where GemRB looks for non-BAM fonts (eg. TTF)
#CustomFontPath=

###############################################################################
#  GemRB Save Path [String]                                                   #
#                                                                             #
#  The path where GemRB looks for saved games. Enter the full path to the     #
#  directory containing eg. the 'save' subdirectory if it's not in GamePath.  #
###############################################################################

#SavePath=/mnt/windows/Programmi/Black Isle/BGII - SoA/

###### HERE BE DRAGONS ########################################################
# You shouldn't need to change anything below this point.

# If your installed game files are residing on a case sensitive filesystem
# then you need to set this value to 1, it has no effect on Windows.
#CaseSensitive=1

###############################################################################
#  GemRB GUI Scripts Path [String]                                            #
#                                                                             #
#  The path to where GemRB GUI scripts are stored; usually these are in the   #
#  GemRBPath directory. Enter the full path to the directory containing the   #
#  'GUIScript' subdirectory.                                                  #
###############################################################################

#GUIScriptsPath=./

###############################################################################
#  Game Data Path [String]                                                    #
#                                                                             #
#  The subdirectory under GamePath where game data files are stored.          #
#  You probably do NOT want to specify this!                                  #
###############################################################################

#GameDataPath=data

###############################################################################
#  Game Data Override Path [String]                                           #
#                                                                             #
#  The subdirectory under GamePath where game data override files are stored. #
#  You probably do NOT want to specify this!                                  #
###############################################################################

#GameOverridePath=override

###############################################################################
#  GemRB Data Override Paths [String]                                         #
#                                                                             #
#  The path where GemRB looks for the GemRB data override directories.        #
#  You probably do NOT want to specify this!                                  #
###############################################################################

#GemRBOverridePath=/usr/share/games/gemrb
#GemRBUnhardcodedPath=/usr/share/games/gemrb

###############################################################################
#  Game Language Path [String]                                                #
#                                                                             #
#  The subdirectory under GamePath where the desired text localization of a   #
#  multi-language edition (EE) resides.                                       #
#  You may want to change this if you do not wish to use English.             #
###############################################################################

#GameLanguagePath=lang/en_US

###############################################################################
#  GemRB Movies Path [String]                                                 #
#                                                                             #
#  This is the path where GemRB looks for the game's movies (EE).             #
#  You probably do NOT want to specify this!                                  #
###############################################################################

#GameMoviesPath=movies
